In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
!source /content/drive/MyDrive/colab_env/bin/activate

In [ ]:
! pip install pyet swifter

In [4]:
import pandas as pd
import pyarrow
import pyet
import math
import datetime
import swifter
import numpy as np
import glob
import os
from sklearn.metrics import r2_score, mean_squared_error
import matplotlib.pyplot as plt
from scipy import stats

In [5]:
prism_data_daily = pd.read_parquet('/content/drive/MyDrive/EC_Tower/merged_prism_data_par_for_ameri_stations.parquet', engine='pyarrow')

In [6]:
# convert lat to radian
prism_data_daily["latitude_in_radian"] = list(map(math.radians, prism_data_daily["latitude"]))

prism_data_daily['time'] = pd.to_datetime(prism_data_daily['date'],format= "%Y-%m-%d" )

prism_data_daily.set_index('time', inplace=True)
prism_data_daily

,system:index,date,point_id,ppt,.geo,tdmean,tmean,vpdmax,vpdmin,tmin,tmax,latitude,longitude,Site_ID,General_classification,Elevation,Energy_balance,Land_cover_details,Land_cover_type,latitude_in_radian
time,,,,,,,,,,,,,,,,,,,,
2008-12-31,0_20090101,2008-12-31,1,0.000,"{""type"":""MultiPoint"",""coordinates"":[]}",4.717,5.503000,0.912,0.239,4.565,6.442,36.4587,-119.5801,MB_Pch,Croplands,90.0,1.00,Peach,Orchards,0.636324
2009-01-01,0_20090102,2009-01-01,1,0.000,"{""type"":""MultiPoint"",""coordinates"":[]}",4.025,5.944000,1.700,0.494,4.836,7.053,36.4587,-119.5801,MB_Pch,Croplands,90.0,1.00,Peach,Orchards,0.636324
2009-01-02,0_20090103,2009-01-02,1,2.898,"{""type"":""MultiPoint"",""coordinates"":[]}",4.454,6.111000,2.067,0.370,4.656,7.567,36.4587,-119.5801,MB_Pch,Croplands,90.0,1.00,Peach,Orchards,0.636324
2009-01-03,0_20090104,2009-01-03,1,0.228,"{""type"":""MultiPoint"",""coordinates"":[]}",3.300,5.052000,3.851,0.202,0.441,9.665,36.4587,-119.5801,MB_Pch,Croplands,90.0,1.00,Peach,Orchards,0.636324
2009-01-04,0_20090105,2009-01-04,1,0.000,"{""type"":""MultiPoint"",""coordinates"":[]}",1.732,4.622000,3.458,0.290,0.316,8.929,36.4587,-119.5801,MB_Pch,Croplands,90.0,1.00,Peach,Orchards,0.636324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-26,12_20201227,2020-12-26,13,0.000,"{""type"":""MultiPoint"",""coordinates"":[]}",6.645,11.471399,8.840,0.435,6.817,16.126,38.2006,-122.0264,US-Srr,Wetland/Riparian,8.0,0.86,Brackish tidal marsh,Wetlands,0.666726
2020-12-27,12_20201228,2020-12-27,13,1.227,"{""type"":""MultiPoint"",""coordinates"":[]}",4.315,9.327499,7.957,0.464,4.567,14.088,38.2006,-122.0264,US-Srr,Wetland/Riparian,8.0,0.86,Brackish tidal marsh,Wetlands,0.666726
2020-12-28,12_20201229,2020-12-28,13,0.000,"{""type"":""MultiPoint"",""coordinates"":[]}",4.685,9.029900,6.475,0.323,4.429,13.631,38.2006,-122.0264,US-Srr,Wetland/Riparian,8.0,0.86,Brackish tidal marsh,Wetlands,0.666726
2020-12-29,12_20201230,2020-12-29,13,0.000,"{""type"":""MultiPoint"",""coordinates"":[]}",-1.101,9.277900,15.402,0.592,1.284,17.272,38.2006,-122.0264,US-Srr,Wetland/Riparian,8.0,0.86,Brackish tidal marsh,Wetlands,0.666726
2020-12-30,12_20201231,2020-12-30,13,1.562,"{""type"":""MultiPoint"",""coordinates"":[]}",4.878,8.186399,8.448,0.445,1.888,14.485,38.2006,-122.0264,US-Srr,Wetland/Riparian,8.0,0.86,Brackish tidal marsh,Wetlands,0.666726

In [7]:
# Solar Constant [ MJ m-2 min-1]
SOLAR_CONSTANT = 0.0820

def standard_date_to_Julian_day (
    standard_date_in_gregorian : str
    ) -> int:

    """
    Description
    -----------
    calculate Julian Day with standard date
    Ref:https://rafatieppo.github.io/post/2018_12_01_juliandate/
    ----------

    standard_date_in_gregorian : str
        Date with the specified standard

    Returns
    -------
    Julian Day : int
        Number of days of the year taking into account the leap year
    """

    fmt='%Y-%m-%d'
    sdtdate = datetime.datetime.strptime(standard_date_in_gregorian, fmt)
    sdtdate = sdtdate.timetuple()
    jdate = sdtdate.tm_yday

    return(jdate)


def inverse_relative_distance_earth_sun(
    julian_date: int
) -> float:

    """
    Description
    -----------
    calculate Inverse Relative Distance Earth Sun With Julian Date - eq 23 FAO56
    ----------


    Julian Day : int
        Number of days of the year taking into account the leap year

    Returns
    -------
    inverse_relative_distance_earth_sun : float
        inverse relative distance earth sun in Radian
    """

    return 1 + (0.033 * np.cos((2 * np.pi * julian_date)/365))

def solar_declination(
    julian_date: int
) -> float:

    """
    Description
    -----------
    calculate Solar Declination With Julian Date - eq 24 FAO56
    ----------

    julian_date : int
        Number of days of the year taking into account the leap year

    Returns
    -------
    solar_declination : float
        solar_declination in Radian
    """

    return 0.409 * np.sin(((2 * np.pi * julian_date) / 365) - 1.39)

def sunset_hour_angle(
    latitude : float,
    solar_declination : float
) -> float:

    """
    Description
    -----------
    calculate Sunset Hour Angle With Latitude and Solar Declination - eq 25 FAO56
    ----------

    latitude: float
        latitude in Radian
    solar_declination : float
        solar_declination in Radian

    Returns
    -------
    sunset_hour_angle : float
        sunset hour angle in Radian
    """

    return np.arccos(-np.tan(latitude) * np.tan(solar_declination))

def extraterrestrial_radiation(
    inverse_relative_distance_earth_sun : float,
    sunset_hour_angle : float,
    latitude : float,
    solar_declination : float
) -> float:

    """
    Description
    -----------
    calculate Extraterrestrial Radiation - eq 28 FAO56
    ----------

    inverse_relative_distance_earth_sun : float
        inverse relative distance earth sun in Radian
    sunset_hour_angle : float
        sunset hour angle in Radian
    latitude: float
        latitude in Radian
    solar_declination : float
        solar_declination in Radian

    Returns
    -------
    extraterrestrial_radiation : float
            extraterrestrial radiation in MJ/m**2/day
    """

    temp_1 = ((24 * 60 )/ np.pi) * SOLAR_CONSTANT * inverse_relative_distance_earth_sun

    temp_2 = sunset_hour_angle * np.sin(latitude) * np.sin(solar_declination)

    temp_3 = np.cos(latitude)* np.cos(solar_declination) * np.sin(sunset_hour_angle)

    return temp_1 * (temp_2 + temp_3)

def solar_or_Short_wave_Radiation_Hargreaves(
    extraterrestrial_radiation : float,
    tmax : float,
    tmin : float,
    Adjustment_coefficient_or_K_RS : float
)-> float:

    """
    Description
    -----------
    calculate Solar or shortwave radiation with max and min Tempreture - eq 50 FAO56
    ----------

    extraterrestrial_radiation : float
        extraterrestrial radiation in MJ/m**2/day
    tmax : float
        Maximum Temperature in celsius
    tmin : float
        Minimum Temperature in celsius
    Adjustment_coefficient_or_K_RS : float
        Adjustment coefficient in C**-0.5 -- between 0.16 to 0.19
            for interior locations, where land mass dominates and air masses are not strongly
            influenced by a large water body, kRs ≅ 0.16;
            for coastal locations, situated on or adjacent to the coast of a large land mass and where
            air masses are influenced by a nearby water body, kRs ≅ 0.19

    Returns
    -------
    Solar or shortwave radiation : float
        Solar or shortwave radiation in MJ/m**2/day
    """
    temp_1 = extraterrestrial_radiation


    return Adjustment_coefficient_or_K_RS * np.sqrt(tmax - tmin) * temp_1

In [8]:
Adjustment_coefficient_or_K_RS = 0.175


prism_data_daily['julian_day'] = prism_data_daily.apply(lambda row: standard_date_to_Julian_day(row['date']), axis=1)
prism_data_daily['dr'] = prism_data_daily.apply(lambda row: inverse_relative_distance_earth_sun(row['julian_day']), axis=1)
prism_data_daily['delta'] = prism_data_daily.apply(lambda row: solar_declination(row['julian_day']), axis=1)
prism_data_daily['omega_s'] = prism_data_daily.apply(lambda row: sunset_hour_angle(row['latitude_in_radian'], row["delta"]), axis=1)
prism_data_daily['ra'] = prism_data_daily.apply(lambda row: extraterrestrial_radiation(row['dr'], row["omega_s"], row["latitude_in_radian"], row["delta"]), axis=1)
prism_data_daily['rs'] = prism_data_daily.apply(lambda row: solar_or_Short_wave_Radiation_Hargreaves(row['ra'], row["tmax"], row["tmin"], Adjustment_coefficient_or_K_RS), axis=1)


prism_data_daily

,system:index,date,point_id,ppt,.geo,tdmean,tmean,vpdmax,vpdmin,tmin,...,Energy_balance,Land_cover_details,Land_cover_type,latitude_in_radian,julian_day,dr,delta,omega_s,ra,rs
time,,,,,,,,,,,,,,,,,,,,,
2008-12-31,0_20090101,2008-12-31,1,0.000,"{""type"":""MultiPoint"",""coordinates"":[]}",4.717,5.503000,0.912,0.239,4.565,...,1.00,Peach,Orchards,0.636324,366,1.032995,-0.401008,1.252175,16.025685,3.842260
2009-01-01,0_20090102,2009-01-01,1,0.000,"{""type"":""MultiPoint"",""coordinates"":[]}",4.025,5.944000,1.700,0.494,4.836,...,1.00,Peach,Orchards,0.636324,1,1.032995,-0.401008,1.252175,16.025685,4.175779
2009-01-02,0_20090103,2009-01-02,1,2.898,"{""type"":""MultiPoint"",""coordinates"":[]}",4.454,6.111000,2.067,0.370,4.656,...,1.00,Peach,Orchards,0.636324,2,1.032980,-0.399564,1.253500,16.080602,4.801329
2009-01-03,0_20090104,2009-01-03,1,0.228,"{""type"":""MultiPoint"",""coordinates"":[]}",3.300,5.052000,3.851,0.202,0.441,...,1.00,Peach,Orchards,0.636324,3,1.032956,-0.398001,1.254930,16.139901,8.578247
2009-01-04,0_20090105,2009-01-04,1,0.000,"{""type"":""MultiPoint"",""coordinates"":[]}",1.732,4.622000,3.458,0.290,0.316,...,1.00,Peach,Orchards,0.636324,4,1.032922,-0.396320,1.256466,16.203566,8.321965
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-26,12_20201227,2020-12-26,13,0.000,"{""type"":""MultiPoint"",""coordinates"":[]}",6.645,11.471399,8.840,0.435,6.817,...,0.86,Brackish tidal marsh,Wetlands,0.666726,361,1.032922,-0.406440,1.225258,14.737636,7.868961
2020-12-27,12_20201228,2020-12-27,13,1.227,"{""type"":""MultiPoint"",""coordinates"":[]}",4.315,9.327499,7.957,0.464,4.567,...,0.86,Brackish tidal marsh,Wetlands,0.666726,362,1.032956,-0.405594,1.226097,14.770615,7.975867
2020-12-28,12_20201229,2020-12-28,13,0.000,"{""type"":""MultiPoint"",""coordinates"":[]}",4.685,9.029900,6.475,0.323,4.429,...,0.86,Brackish tidal marsh,Wetlands,0.666726,363,1.032980,-0.404627,1.227054,14.808078,7.861001
2020-12-29,12_20201230,2020-12-29,13,0.000,"{""type"":""MultiPoint"",""coordinates"":[]}",-1.101,9.277900,15.402,0.592,1.284,...,0.86,Brackish tidal marsh,Wetlands,0.666726,364,1.032995,-0.403540,1.228128,14.850017,10.391113
2020-12-30,12_20201231,2020-12-30,13,1.562,"{""type"":""MultiPoint"",""coordinates"":[]}",4.878,8.186399,8.448,0.445,1.888,...,0.86,Brackish tidal marsh,Wetlands,0.666726,365,1.033000,-0.402334,1.229319,14.896424,9.252384

In [9]:
# prism_data_daily["blaney_criddle"] = pyet.blaney_criddle(
#     tmean = prism_data_daily["tmean"],
#     lat = prism_data_daily["latitude_in_radian"]
# )

# prism_data_daily["hamon"] = pyet.hamon(
#     tmean = prism_data_daily["tmean"],
#     lat = prism_data_daily["latitude_in_radian"]
# )

prism_data_daily["oudin"] = pyet.oudin(
    tmean = prism_data_daily["tmean"],
    lat = prism_data_daily["latitude_in_radian"]
)

prism_data_daily["hargreaves"] = pyet.hargreaves(
    tmean = prism_data_daily["tmean"],
    tmax = prism_data_daily["tmax"],
    tmin = prism_data_daily["tmin"],
    lat = prism_data_daily["latitude_in_radian"]
)

prism_data_daily["abtew"] = pyet.abtew(
    tmean = prism_data_daily["tmean"],
    rs = prism_data_daily["rs"]
)


prism_data_daily["mcguinness_bordne"] = pyet.mcguinness_bordne(
    tmean = prism_data_daily["tmean"],
    lat = prism_data_daily["latitude_in_radian"]
)

# prism_data_daily["jensen_haise"] = pyet.jensen_haise(
#     tmean = prism_data_daily["tmean"],
#     lat = prism_data_daily["latitude_in_radian"]
# )
prism_data_daily = prism_data_daily.reset_index()

In [10]:
# Specify the directory path and file pattern

file_path = '/content/drive/MyDrive/EC_Tower/stations/*.csv'
csv_files = glob.glob(file_path)

dfs = []

for file in csv_files:

    ts_data = pd.read_csv(file)

    ts_data["Site_ID"] = file.removesuffix("_daily_data.csv")[41:]

    dfs.append(ts_data)

merged_df = pd.concat(dfs, ignore_index=True)
merged_df

,date,rh,H,sw_in,t_dew,vp,theta_1,lw_out,LE,wd,...,ET_gap,ET_fill_val,Site_ID,H_qc_flag,Rn_qc_flag,LE_qc_flag,t_avg_qc_flag,vpd_qc_flag,G_qc_flag,ppt
0,2012-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,NaN,US-Tw2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,NaN,US-Tw2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2012-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,NaN,US-Tw2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,NaN,US-Tw2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2012-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,NaN,US-Tw2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20138,2018-05-31,58.591875,74.299147,346.442861,11.252931,1.361338,26.386760,404.013732,60.627478,242.604626,...,False,NaN,US-Tw3,NaN,NaN,NaN,NaN,NaN,NaN,0.0
20139,2018-06-01,54.740417,57.072189,354.218242,12.342688,1.462196,26.324656,420.252554,75.335373,282.614125,...,False,NaN,US-Tw3,NaN,NaN,NaN,NaN,NaN,NaN,0.0
20140,2018-06-02,45.873125,34.105066,356.110903,12.915099,1.533126,26.316750,438.610560,109.118007,238.779884,...,False,NaN,US-Tw3,NaN,NaN,NaN,NaN,NaN,NaN,0.0
20141,2018-06-03,47.508958,15.475881,353.838460,13.621733,1.604567,26.276646,443.144378,122.170050,225.033641,...,False,NaN,US-Tw3,NaN,NaN,NaN,NaN,NaN,NaN,0.0
20142,2018-06-04,NaN,21.588175,NaN,NaN,NaN,NaN,NaN,106.307414,254.218305,...,False,NaN,US-Tw3,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:

# Merge the DataFrames
result = pd.merge(prism_data_daily, merged_df[['date', 'Site_ID', 'ET_fill']],
                  on=['date', 'Site_ID'],
                  how='left')

result

,time,system:index,date,point_id,ppt,.geo,tdmean,tmean,vpdmax,vpdmin,...,dr,delta,omega_s,ra,rs,oudin,hargreaves,abtew,mcguinness_bordne,ET_fill
0,2008-12-31,0_20090101,2008-12-31,1,0.000,"{""type"":""MultiPoint"",""coordinates"":[]}",4.717,5.503000,0.912,0.239,...,1.032995,-0.401008,1.252175,16.025685,3.842260,0.676516,0.472973,0.818486,0.994479,NaN
1,2009-01-01,0_20090102,2009-01-01,1,0.000,"{""type"":""MultiPoint"",""coordinates"":[]}",4.025,5.944000,1.700,0.494,...,1.032995,-0.401008,1.252175,16.025685,4.175779,0.705217,0.523976,0.889905,1.036669,NaN
2,2009-01-02,0_20090103,2009-01-02,1,2.898,"{""type"":""MultiPoint"",""coordinates"":[]}",4.454,6.111000,2.067,0.370,...,1.032980,-0.399564,1.253500,16.080602,4.801329,0.718546,0.606803,1.023379,1.056262,NaN
3,2009-01-03,0_20090104,2009-01-03,1,0.228,"{""type"":""MultiPoint"",""coordinates"":[]}",3.300,5.052000,3.851,0.202,...,1.032956,-0.398001,1.254930,16.139901,8.578247,0.651802,1.035083,1.826573,0.958149,NaN
4,2009-01-04,0_20090105,2009-01-04,1,0.000,"{""type"":""MultiPoint"",""coordinates"":[]}",1.732,4.622000,3.458,0.290,...,1.032922,-0.396320,1.256466,16.203566,8.321965,0.626125,0.984862,1.771280,0.920404,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56974,2020-12-26,12_20201227,2020-12-26,13,0.000,"{""type"":""MultiPoint"",""coordinates"":[]}",6.645,11.471399,8.840,0.435,...,1.032922,-0.406440,1.225258,14.737636,7.868961,0.981236,1.223674,1.685809,1.442417,NaN
56975,2020-12-27,12_20201228,2020-12-27,13,1.227,"{""type"":""MultiPoint"",""coordinates"":[]}",4.315,9.327499,7.957,0.464,...,1.032956,-0.405594,1.226097,14.770615,7.975867,0.853682,1.147109,1.705223,1.254913,NaN
56976,2020-12-28,12_20201229,2020-12-28,13,0.000,"{""type"":""MultiPoint"",""coordinates"":[]}",4.685,9.029900,6.475,0.323,...,1.032980,-0.404627,1.227054,14.808078,7.861001,0.837833,1.117869,1.680189,1.231615,NaN
56977,2020-12-29,12_20201230,2020-12-29,13,0.000,"{""type"":""MultiPoint"",""coordinates"":[]}",-1.101,9.277900,15.402,0.592,...,1.032995,-0.403540,1.228128,14.850017,10.391113,0.855260,1.491673,2.221492,1.257232,NaN
56978,2020-12-30,12_20201231,2020-12-30,13,1.562,"{""type"":""MultiPoint"",""coordinates"":[]}",4.878,8.186399,8.448,0.445,...,1.033000,-0.402334,1.229319,14.896424,9.252384,0.791524,1.273342,1.975992,1.163540,NaN

In [12]:
def budyko(pet, p):
    # from Budyko 1958
    # p,pet = X
    if p == 0:
        x = 0
    else:
        # x = (1 + (0.5 * (pet / p)** (-1.5)))**(-1)
        x = math.sqrt(((pet/p)*math.tanh(p/pet))*(1-math.exp(-pet/p)))
    return x


def aet(ratio, p):
  return ratio * p

In [13]:


result['ratio_budyko_oudin'] = result.apply(lambda row: budyko(row['oudin'], row["ppt"]), axis=1)

result['aet_budyko_oudin'] = result.apply(lambda row: aet(row['ratio_budyko_oudin'], row["ppt"]), axis=1)


result['ratio_budyko_hargreaves'] = result.apply(lambda row: budyko(row['hargreaves'], row["ppt"]), axis=1)

result['aet_budyko_hargreaves'] = result.apply(lambda row: aet(row['ratio_budyko_hargreaves'], row["ppt"]), axis=1)


result['ratio_budyko_abtew'] = result.apply(lambda row: budyko(row['abtew'], row["ppt"]), axis=1)

result['aet_budyko_abtew'] = result.apply(lambda row: aet(row['ratio_budyko_abtew'], row["ppt"]), axis=1)


result['ratio_budyko_mcguinness_bordne'] = result.apply(lambda row: budyko(row['mcguinness_bordne'], row["ppt"]), axis=1)

result['aet_budyko_mcguinness_bordne'] = result.apply(lambda row: aet(row['ratio_budyko_mcguinness_bordne'], row["ppt"]), axis=1)


result

,time,system:index,date,point_id,ppt,.geo,tdmean,tmean,vpdmax,vpdmin,...,mcguinness_bordne,ET_fill,ratio_budyko_oudin,aet_budyko_oudin,ratio_budyko_hargreaves,aet_budyko_hargreaves,ratio_budyko_abtew,aet_budyko_abtew,ratio_budyko_mcguinness_bordne,aet_budyko_mcguinness_bordne
0,2008-12-31,0_20090101,2008-12-31,1,0.000,"{""type"":""MultiPoint"",""coordinates"":[]}",4.717,5.503000,0.912,0.239,...,0.994479,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2009-01-01,0_20090102,2009-01-01,1,0.000,"{""type"":""MultiPoint"",""coordinates"":[]}",4.025,5.944000,1.700,0.494,...,1.036669,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2009-01-02,0_20090103,2009-01-02,1,2.898,"{""type"":""MultiPoint"",""coordinates"":[]}",4.454,6.111000,2.067,0.370,...,1.056262,NaN,0.233268,0.676011,0.198876,0.576341,0.323011,0.936085,0.332279,0.962946
3,2009-01-03,0_20090104,2009-01-03,1,0.228,"{""type"":""MultiPoint"",""coordinates"":[]}",3.300,5.052000,3.851,0.202,...,0.958149,NaN,0.951844,0.217020,0.986726,0.224974,0.997250,0.227373,0.983290,0.224190
4,2009-01-04,0_20090105,2009-01-04,1,0.000,"{""type"":""MultiPoint"",""coordinates"":[]}",1.732,4.622000,3.458,0.290,...,0.920404,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56974,2020-12-26,12_20201227,2020-12-26,13,0.000,"{""type"":""MultiPoint"",""coordinates"":[]}",6.645,11.471399,8.840,0.435,...,1.442417,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
56975,2020-12-27,12_20201228,2020-12-27,13,1.227,"{""type"":""MultiPoint"",""coordinates"":[]}",4.315,9.327499,7.957,0.464,...,1.254913,NaN,0.558132,0.684828,0.669477,0.821448,0.802162,0.984252,0.701850,0.861170
56976,2020-12-28,12_20201229,2020-12-28,13,0.000,"{""type"":""MultiPoint"",""coordinates"":[]}",4.685,9.029900,6.475,0.323,...,1.231615,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
56977,2020-12-29,12_20201230,2020-12-29,13,0.000,"{""type"":""MultiPoint"",""coordinates"":[]}",-1.101,9.277900,15.402,0.592,...,1.257232,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
56978,2020-12-30,12_20201231,2020-12-30,13,1.562,"{""type"":""MultiPoint"",""coordinates"":[]}",4.878,8.186399,8.448,0.445,...,1.163540,NaN,0.440244,0.687660,0.618432,0.965991,0.773365,1.207996,0.584176,0.912483

In [14]:
# Assuming your DataFrame is named 'df' and the two columns are 'actual' and 'predicted'
def calculate_metrics(df, actual_col, predicted_col):
    df = df.dropna()
    actual = df[actual_col]
    predicted = df[predicted_col]

    rmse = np.sqrt(mean_squared_error(actual, predicted))

    nse = 1 - (np.sum((actual - predicted) ** 2) / np.sum((actual - np.mean(actual)) ** 2))

    nrmse = rmse / (np.max(actual) - np.min(actual))

    r = stats.pearsonr(predicted,actual)[0]
    r2= r**2

    return rmse, nse, nrmse, r2

In [16]:
filtered_df = result[result['ET_fill'].apply(lambda x: isinstance(x, float) and not np.isnan(x))]

filtered_df = filtered_df[filtered_df['ratio_budyko_hargreaves'].apply(lambda x: isinstance(x, float) and not np.isnan(x))]

filtered_df = filtered_df[filtered_df['ratio_budyko_hargreaves'].apply(lambda x: isinstance(x, float) and x != 0)]

In [17]:
observed_col = 'ET_fill'
method_cols = [col for col in filtered_df.columns if col.startswith('aet_')]

In [18]:
# Function to calculate metrics for a specific time scale
def calculate_timescale_metrics(data, timescale):
    results = []
    for method in method_cols:
        metrics = data.groupby('Site_ID').apply(lambda x: calculate_metrics(x, observed_col, method))
        metrics = metrics.reset_index()
        metrics['Method'] = method
        metrics['Timescale'] = timescale
        results.append(metrics)
    return pd.concat(results, ignore_index=True)



# Daily calculations
daily_metrics = calculate_timescale_metrics(filtered_df, 'Daily')

In [19]:
# Monthly calculations
filtered_df['year_month'] = filtered_df['time'].dt.strftime('%Y-%m')
monthly_data = filtered_df.groupby(['Site_ID', 'year_month']).agg({observed_col: 'sum', **{col: 'sum' for col in method_cols}}).reset_index()
monthly_metrics = calculate_timescale_metrics(monthly_data, 'Monthly')

In [20]:
# Yearly calculations
filtered_df['year'] = filtered_df['time'].dt.year
yearly_data = filtered_df.groupby(['Site_ID', 'year']).agg({observed_col: 'sum', **{col: 'sum' for col in method_cols}}).reset_index()
yearly_metrics = calculate_timescale_metrics(yearly_data, 'Yearly')

In [21]:
# Combine all metrics
all_metrics = pd.concat([daily_metrics, monthly_metrics, yearly_metrics], ignore_index=True)
all_metrics

,Site_ID,0,Method,Timescale
0,Almond_High,"(2.116681665853018, -0.38650325587784384, 0.24...",aet_budyko_oudin,Daily
1,Almond_Low,"(2.206357829641578, -0.33709768500795034, 0.23...",aet_budyko_oudin,Daily
2,Almond_Med,"(1.979526877128931, -0.2926781289992806, 0.209...",aet_budyko_oudin,Daily
3,MB_Pch,"(1.3241453697079733, 0.006773678836961672, 0.1...",aet_budyko_oudin,Daily
4,RIP760,"(0.970194074120671, 0.0814374429468232, 0.1724...",aet_budyko_oudin,Daily
...,...,...,...,...
151,US-Sne,"(34.66160106294968, 0.5759713523439812, 0.2339...",aet_budyko_mcguinness_bordne,Yearly
152,US-Srr,"(7.671218909196558, 0.7829225035341012, 0.1752...",aet_budyko_mcguinness_bordne,Yearly
153,US-Tw2,"(24.20803389875078, -0.12376190185424774, 0.53...",aet_budyko_mcguinness_bordne,Yearly
154,US-Tw3,"(9.078033282896502, 0.9050762492526264, 0.1018...",aet_budyko_mcguinness_bordne,Yearly
155,US-Twt,"(15.107695773276062, 0.2897095436622076, 0.277...",aet_budyko_mcguinness_bordne,Yearly

In [22]:

# Create separate columns for each metric
all_metrics[['rmse', 'nse', 'nrmse', 'r2']] = pd.DataFrame(all_metrics[0].tolist(), index=all_metrics.index)

# Drop the original tuple column
all_metrics = all_metrics.drop(0, axis=1)
all_metrics

,Site_ID,Method,Timescale,rmse,nse,nrmse,r2
0,Almond_High,aet_budyko_oudin,Daily,2.116682,-0.386503,0.246681,0.217842
1,Almond_Low,aet_budyko_oudin,Daily,2.206358,-0.337098,0.234130,0.091353
2,Almond_Med,aet_budyko_oudin,Daily,1.979527,-0.292678,0.209756,0.190878
3,MB_Pch,aet_budyko_oudin,Daily,1.324145,0.006774,0.191953,0.170442
4,RIP760,aet_budyko_oudin,Daily,0.970194,0.081437,0.172473,0.149782
...,...,...,...,...,...,...,...
151,US-Sne,aet_budyko_mcguinness_bordne,Yearly,34.661601,0.575971,0.233971,0.940077
152,US-Srr,aet_budyko_mcguinness_bordne,Yearly,7.671219,0.782923,0.175277,0.979144
153,US-Tw2,aet_budyko_mcguinness_bordne,Yearly,24.208034,-0.123762,0.530038,1.000000
154,US-Tw3,aet_budyko_mcguinness_bordne,Yearly,9.078033,0.905076,0.101882,0.961373
155,US-Twt,aet_budyko_mcguinness_bordne,Yearly,15.107696,0.289710,0.277456,0.800033

In [23]:
# Reshape the data for easier analysis
all_metrics_wide = all_metrics.pivot_table(
    index=['Site_ID', 'Method'],
    columns='Timescale',
    values=['rmse', 'nse', 'nrmse', 'r2']
).reset_index()

all_metrics_wide

               Site_ID                        Method     nrmse            \
Timescale                                                Daily   Monthly
0          Almond_High              aet_budyko_abtew  0.229724  0.193346
1          Almond_High         aet_budyko_hargreaves  0.237406  0.224495
2          Almond_High  aet_budyko_mcguinness_bordne  0.229751  0.202378
3          Almond_High              aet_budyko_oudin  0.246681  0.246279
4           Almond_Low              aet_budyko_abtew  0.222837  0.209191
5           Almond_Low         aet_budyko_hargreaves  0.226222  0.237372
6           Almond_Low  aet_budyko_mcguinness_bordne  0.223324  0.215607
7           Almond_Low              aet_budyko_oudin  0.234130  0.262698
8           Almond_Med              aet_budyko_abtew  0.198860  0.192854
9           Almond_Med         aet_budyko_hargreaves  0.202895  0.221943
10          Almond_Med  aet_budyko_mcguinness_bordne  0.198148  0.200338
11          Almond_Med              aet_budyko_oudin  0.209756  0.245028
12              MB_Pch              aet_budyko_abtew  0.210476  0.203406
13              MB_Pch         aet_budyko_hargreaves  0.191718  0.183443
14              MB_Pch  aet_budyko_mcguinness_bordne  0.199599  0.185698
15              MB_Pch              aet_budyko_oudin  0.191953  0.191463
16              RIP760              aet_budyko_abtew  0.226792  0.174658
17              RIP760         aet_budyko_hargreaves  0.183861  0.120602
18              RIP760  aet_budyko_mcguinness_bordne  0.206164  0.147697
19              RIP760              aet_budyko_oudin  0.172473  0.125916
20              SLM001              aet_budyko_abtew  0.300158  0.417997
21              SLM001         aet_budyko_hargreaves  0.229007  0.270133
22              SLM001  aet_budyko_mcguinness_bordne  0.307664  0.423343
23              SLM001              aet_budyko_oudin  0.218189  0.249275
24              US-Bi1              aet_budyko_abtew  0.162243  0.114730
25              US-Bi1         aet_budyko_hargreaves  0.152451  0.147506
26              US-Bi1  aet_budyko_mcguinness_bordne  0.167045  0.121078
27              US-Bi1              aet_budyko_oudin  0.158874  0.169888
28              US-Bi2              aet_budyko_abtew  0.216478  0.105078
29              US-Bi2         aet_budyko_hargreaves  0.189853  0.124209
30              US-Bi2  aet_budyko_mcguinness_bordne  0.216533  0.105862
31              US-Bi2              aet_budyko_oudin  0.191514  0.148014
32              US-Sne              aet_budyko_abtew  0.245375  0.176783
33              US-Sne         aet_budyko_hargreaves  0.241142  0.201672
34              US-Sne  aet_budyko_mcguinness_bordne  0.250757  0.175039
35              US-Sne              aet_budyko_oudin  0.245218  0.209005
36              US-Srr              aet_budyko_abtew  0.224376  0.212158
37              US-Srr         aet_budyko_hargreaves  0.201334  0.181293
38              US-Srr  aet_budyko_mcguinness_bordne  0.234005  0.219223
39              US-Srr              aet_budyko_oudin  0.206344  0.193992
40              US-Tw2              aet_budyko_abtew  0.336913  0.279411
41              US-Tw2         aet_budyko_hargreaves  0.317152  0.265707
42              US-Tw2  aet_budyko_mcguinness_bordne  0.345583  0.271043
43              US-Tw2              aet_budyko_oudin  0.321619  0.281169
44              US-Tw3              aet_budyko_abtew  0.243971  0.153433
45              US-Tw3         aet_budyko_hargreaves  0.229179  0.159895
46              US-Tw3  aet_budyko_mcguinness_bordne  0.255966  0.160614
47              US-Tw3              aet_budyko_oudin  0.233382  0.167062
48              US-Twt              aet_budyko_abtew  0.163311  0.154888
49              US-Twt         aet_budyko_hargreaves  0.147108  0.137686
50              US-Twt  aet_budyko_mcguinness_bordne  0.167557  0.152961
51              US-Twt              aet_budyko_oudin  0.148182  0.143716

                          nse                            r2            \
Timescale    Yearly     Daily   Monthly    Yearly     Daily   Monthly
0          0.372585 -0.202441  0.460758 -0.003027  0.129874  0.768654
1          0.462362 -0.284206  0.273008 -0.544638  0.200486  0.822368
2          0.395894 -0.202721  0.409198 -0.132452  0.157676  0.772365
3          0.511789 -0.386503  0.125081 -0.892533  0.217842  0.811528
4          0.309640 -0.211224  0.485136  0.282393  0.051895  0.657444
5          0.412069 -0.248303  0.337071 -0.270903  0.093464  0.713783
6          0.334034 -0.216523  0.453067  0.164869  0.060971  0.667983
7          0.464836 -0.337098  0.188063 -0.617231  0.091353  0.689929
8          0.346488 -0.161867  0.484416  0.192284  0.101835  0.717625
9          0.447316 -0.209497  0.317154 -0.346206  0.169959  0.776835
10         0.371346 -0.153570  0.443627  0.072228  0.128211  0.725713
11         0.501767 -0.292678  0.167716 -0.693899  0.190878  0.770300
12         0.170801 -0.194162  0.262775  0.802190  0.060459  0.403047
13         0.294070  0.009205  0.400381  0.413633  0.140981  0.497299
14         0.231282 -0.073933  0.385550  0.637295  0.105690  0.480577
15         0.411771  0.006774  0.346801 -0.149687  0.170442  0.543943
16         0.346569 -0.588260  0.607324  0.131735  0.045553  0.772558
17         0.160980 -0.043864  0.812774  0.812666  0.118218  0.816042
18         0.263855 -0.312472  0.719201  0.496729  0.075331  0.787934
19         0.146762  0.081437  0.795911  0.844296  0.149782  0.816210
20         0.680186 -2.229634 -1.572458 -3.498476  0.004480  0.506513
21         0.381856 -0.879966 -0.074378 -0.417779  0.024352  0.535033
22         0.690605 -2.393180 -1.638684 -3.637345  0.005027  0.530536
23         0.326397 -0.706556  0.085126 -0.035860  0.021970  0.550237
24         0.101426 -0.140788  0.823039  0.929122  0.128449  0.829815
25         0.248308 -0.007246  0.707490  0.575185  0.204090  0.868683
26         0.103212 -0.209312  0.802917  0.926603  0.116024  0.812170
27         0.288149 -0.093907  0.611987  0.427925  0.172566  0.838385
28         0.083921 -0.441277  0.862404  0.949141  0.110817  0.872960
29         0.123605 -0.108550  0.807743  0.889671  0.145716  0.898498
30         0.068693 -0.442013  0.860344  0.965924  0.097719  0.867460
31         0.167045 -0.128034  0.726988  0.798494  0.130360  0.884456
32         0.242769 -0.517362  0.468919  0.543484  0.009121  0.606042
33         0.356126 -0.465468  0.308848  0.017626  0.040479  0.688973
34         0.233971 -0.584657  0.479344  0.575971  0.006100  0.596113
35         0.369745 -0.515427  0.257675 -0.058945  0.028207  0.662923
36         0.109836 -0.552622  0.337093  0.914758  0.020775  0.620842
37         0.448021 -0.250111  0.515941 -0.418281  0.071363  0.705179
38         0.175277 -0.688746  0.292201  0.782923  0.006539  0.645624
39         0.525011 -0.313098  0.445752 -0.947616  0.038266  0.695262
40         0.515233 -0.763890  0.170256 -0.061860  0.000172  0.422501
41         0.586450 -0.563039  0.249653 -0.375696  0.006643  0.520254
42         0.530038 -0.855843  0.219212 -0.123762  0.000083  0.455573
43         0.627843 -0.607383  0.159781 -0.576745  0.002432  0.499921
44         0.103007 -0.579781  0.564248  0.902970  0.003310  0.641739
45         0.252654 -0.394025  0.526773  0.416247  0.021056  0.688902
46         0.101882 -0.738932  0.522510  0.905076  0.001231  0.630361
47         0.267652 -0.445622  0.483401  0.344887  0.011663  0.663899
48         0.289928 -0.608151  0.402452  0.224418  0.005444  0.570536
49         0.297140 -0.304880  0.527816  0.185354  0.023523  0.610452
50         0.277456 -0.692860  0.417232  0.289710  0.006388  0.581457
51         0.354834 -0.323994  0.485546 -0.161708  0.019467  0.605988

                         rmse
Timescale    Yearly     Daily    Monthly     Yearly
0          0.998218  1.971183   9.588055  45.314207
1          0.995788  2.037100  11.132769  56.233021
2          0.999565  1.971412  10.035971  48.149072
3          0.998977  2.116682  12.213004  62.244324
4          0.943123  2.099938   9.463960  39.423251
5          0.928276  2.131839  10.738904  52.464477
6          0.955654  2.104527   9.754250  42.529135
7          0.952538  2.206358  11.884685  59.182759
8          0.981222  1.876698   8.320326  37.388589
9          0.973552  1.914779   9.575294  48.268672
10         0.991385  1.869985   8.643186  40.071005
11         0.988058  1.979527  10.571250  54.144377
12         0.891945  1.451922   3.799750   7.481699
13         0.905771  1.322524   3.426832  12.881349
14         0.819981  1.376893   3.468951  10.131021
15         0.888219  1.324145   3.576660  18.037079
16         0.909358  1.275749   5.210646  24.713733
17         0.915965  1.034252   3.597963  11.479431
18         0.895054  1.159710   4.406280  18.815392
19         0.906248  0.970194   3.756500  10.465559
20         0.599835  1.200213   6.816593  38.803414
21         0.638367  0.915707   4.405261  21.784192
22         0.672801  1.230226   6.903779  39.397795
23         0.687305  0.872453   4.065125  18.620348
24         0.977130  1.045109   3.656766  11.353594
25         0.982226  0.982035   4.701420  27.795612
26         0.984220  1.076040   3.859069  11.553572
27         0.986684  1.023409   5.414792  32.255435
28         0.975312  1.046189   3.154639   8.392457
29         0.975694  0.917517   3.728967  12.360950
30         0.974745  1.046456   3.178170   6.869551
31         0.978251  0.925545   4.443631  16.705163
32         0.971366  1.381210   7.950067  35.964902
33         0.973212  1.357386   9.069371  52.758144
34         0.940077  1.411506   7.871650  34.661601
35         0.955772  1.380329   9.399131  54.775669
36         0.992181  1.194181   5.071637   4.807103
37         0.980578  1.071548   4.333824  19.608218
38         0.979144  1.245430   5.240549   7.671219
39         0.977454  1.098211   4.637392  22.977808
40         1.000000  1.354549   4.493951  23.531847
41         1.000000  1.275099   4.273537  26.784504
42         1.000000  1.389407   4.359363  24.208034
43         1.000000  1.293059   4.522229  28.674980
44         0.970793  1.259501   4.853024   9.178195
45         0.977439  1.183138   5.057406  22.512251
46         0.961373  1.321422   5.080134   9.078033
47         0.963937  1.204835   5.284083  23.848571
48         0.861952  1.236589   5.106966  15.786799
49         0.888077  1.113903   4.539754  16.179489
50         0.800033  1.268740   5.043414  15.107696
51         0.832592  1.122032   4.738601  19.320964